# Secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/
env/
dummy

# FastAPI / Uvicorn
*.log

# OS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Build / misc
dist/
build/